translations = {
    "en": {
        "dashboard": "Dashboard",
        "login": "Login",
        "logout": "Logout",
        "worker": "Worker",
        "supervisor": "Supervisor",
        "admin": "Admin",
        "record_work": "Record Work",
        "history": "History",
        "approved": "Approved",
        "rejected": "Rejected",
        "pending_review": "Pending",
        "work_history": "Work History",
    },

    "hi": {
        "dashboard": "डैशबोर्ड",
        "login": "लॉगिन",
        "logout": "लॉगआउट",
        "worker": "मजदूर",
        "supervisor": "पर्यवेक्षक",
        "admin": "प्रशासक",
        "record_work": "काम दर्ज करें",
        "history": "इतिहास",
        "approved": "स्वीकृत",
        "rejected": "अस्वीकृत",
        "pending_review": "लंबित",
        "work_history": "कार्य इतिहास",
    },

    "mr": {
        "dashboard": "डॅशबोर्ड",
        "login": "लॉगिन",
        "logout": "बाहेर पडा",
        "worker": "कामगार",
        "supervisor": "पर्यवेक्षक",
        "admin": "प्रशासक",
        "record_work": "काम नोंदवा",
        "history": "इतिहास",
        "approved": "मंजूर",
        "rejected": "नाकारले",
        "pending_review": "प्रलंबित",
        "work_history": "कामाचा इतिहास",
    }
}
